### if, elif, else Statement

In [1]:
a = 10

In [2]:
a < 15

True

In [3]:
if a < 15
    print("my name is sudhanshu")

SyntaxError: invalid syntax (Temp/ipykernel_16132/2526725337.py, line 1)

In [4]:
if a < 15:

IndentationError: expected an indented block (Temp/ipykernel_16132/4019363808.py, line 1)

In [5]:
if a < 15:
    pass

In [6]:
if a < 15:
    print("my name is sudhanshu")

my name is sudhanshu

In [7]:
if 24 < 15:
    print("my name is sudhanshu")

In [8]:
24 <15

False

In [9]:
if 10 < 3:
    print("10 is lesser than 3")
    
else:
    print("if statement is wrong")

if statement is wrong

In [10]:
if 5 < 10:
    print("5 is lesser than 10")
    
else:
    print("if statement is wrong")

5 is lesser than 10

In [11]:
income = 100

if income < 50:
    print("i will be able to buy phone")
    
elif income < 70:
    print("i will be able to buy car")
    
elif income < 90:
    print("i will be able to rent a house")
    
else:
    print('i wont be able to buy anything')

i wont be able to buy anything

In [12]:
income = int(input())

if income < 50:
    print("i will be able to buy phone")
    
elif income < 70:
    print("i will be able to buy car")
    
elif income < 90:
    print("i will be able to rent a house")
    
else:
    print('i wont be able to buy anything')

55
i will be able to buy car

In [13]:
income = int(input())

if income < 50:
    print("i will be able to buy phone")
    
elif income < 70:
    print("i will be able to buy car")
    
elif income < 90:
    print("i will be able to rent a house")
    
else:
    print('i wont be able to buy anything')

101
i wont be able to buy anything

In [14]:
total_price = int(input())

if total_price > 20000:
    discount = total_price * .20
    print("Discount will be ",discount)
    
elif total_price <= 7000:
    discount = total_price * .05
    
else:
    print("wont be able to give any discount ")

5000

In [15]:
total_price = int(input())

if total_price > 20000:
    discount = total_price * .20
    print("Discount will be ",discount)
    
elif total_price <= 7000:
    discount = total_price * .05
    print("Discount will be ", discount)
    
else:
    print("wont be able to give any discount ")

5874
Discount will be  293.7

In [18]:
coup = "sudh5"
if coup=="sudh5":
    print("Gaet able to get discount of 5% ")
    paid_amount = 7080-7080*.05
    print("you will be able to get one neuron with this amount ", paid_amount)
    
else :
    print("kindly use valid coupoun code ")

Gaet able to get discount of 5%
you will be able to get one neuron with this amount  6726.0

In [19]:
coup = input()
if coup=="sudh5":
    print("Gaet able to get discount of 5% ")
    paid_amount = 7080-7080*.05
    print("you will be able to get one neuron with this amount ", paid_amount)
    
else :
    print("kindly use valid coupoun code ")

dfbdfb
kindly use valid coupoun code

In [21]:
coup = input()
if coup=="sudh5":
    print("Get able to get discount of 5% ")
    paid_amount = 7080-7080*.05
    print("you will be able to get one neuron with this amount ", paid_amount)
    
else :
    print("kindly use valid coupoun code ")

sudh5
Get able to get discount of 5%
you will be able to get one neuron with this amount  6726.0

In [22]:
study_hour = int(input())

if study_hour <1:
    print("it may take 8-9 month of time to make a transition")
    
elif study_hour < 4 and study_hour >1:
    print("it may take 6 month for transition")
    
elif study_hour > 10:
    print("it will take 3 month of time for transition ")
    
else:
    print("it will be difficult ")

5
it will be difficult

In [23]:
study_hour = int(input())

if study_hour <1:
    print("it may take 8-9 month of time to make a transition")
    
elif study_hour < 4 and study_hour >1:
    print("it may take 6 month for transition")
    
elif study_hour > 10:
    print("it will take 3 month of time for transition ")
    
else:
    print("it will be difficult ")

2
it may take 6 month for transition

In [24]:
a = 9
if a==9 : print("valid")

valid

In [29]:
s = input("enter a string to start ")
course = input("enter a course name ")
service = input("enter a service name ")

if s == "oneneuron":
    if course =="DSA":
        print("for job prepration and core concept ")
    elif course == "Blockchain":
        print("this is not available")
    elif course =="FSDS":
        print("yes its available")
    else:
        print("this courese is not available kindly raise your demand")
        
elif s == "oneneuronservice":
    if service == "courserequest":
        print("we will fulfil your demand within 60 days")
        
    elif service == "module":
        print("we will fulfil your demand within 30 days")
        
    elif service =="doudt":
        print("we will fulfil your demand within 24 hours")
        
    elif service == "workwithus":
        print("Our HR will connect you")
        
    else:
        print("kindly provide us your feedback and we will fulfill")
        
else:
    print("kindly connect with our team")

enter a string to start oneneuron
enter a course name dfds
enter a service name fsds
this courese is not available kindly raise your demand

### For Loop

In [30]:
l= [1,2,3,4,5,6,7]

for i in l:
    print(i)

1
2
3
4
5
6
7

In [31]:
s = "sudh"

for i in s:
    print(i)

s
u
d
h

In [32]:
t = (1,2,3,4,5,6,6)

In [33]:
for i in t:
    print(i)

1
2
3
4
5
6
6

In [36]:
l = [1,4,5.6,6,4.7j,"sudh"]
for i in l:
    print(i, type(i))

1 <class 'int'>
4 <class 'int'>
5.6 <class 'float'>
6 <class 'int'>
4.7j <class 'complex'>
sudh <class 'str'>

In [37]:
l = [1,4,5.6]
for i in l:
    print(i+2)

3
6
7.6

In [41]:
l = [1,4,5.6]
l1 = []
for i in l:
    l1.append(i+2)
    
print(l1)

[3, 6, 7.6]

In [45]:
l = [2,45,78,12,"sudh",6+7j,[56,67,78]]

for i in l:
    print(type(i)==int,i)

True 2
True 45
True 78
True 12
False sudh
False (6+7j)
False [56, 67, 78]

In [46]:
l = [2,45,78,12,"sudh",6+7j,[56,67,78]]

for i in l:
    if type(i) == int:
        print(i)

2
45
78
12

In [47]:
range(4)

range(0, 4)

In [48]:
l = [2,45,78,12,12,12,12,"sudh", 6+7j, [56,67,78,"dsfdsf"]]

In [49]:
for i in range(len(l)):
    print("index ",i ,"for an element ",l[i])

index  0 for an element  2
index  1 for an element  45
index  2 for an element  78
index  3 for an element  12
index  4 for an element  12
index  5 for an element  12
index  6 for an element  12
index  7 for an element  sudh
index  8 for an element  (6+7j)
index  9 for an element  [56, 67, 78, 'dsfdsf']

In [50]:
l

[2, 45, 78, 12, 12, 12, 12, 'sudh', (6+7j), [56, 67, 78, 'dsfdsf']]

In [51]:
for i, j in enumerate(l):
    print(i, j)

0 2
1 45
2 78
3 12
4 12
5 12
6 12
7 sudh
8 (6+7j)
9 [56, 67, 78, 'dsfdsf']

In [52]:
l = ["name" ,"emailid", "phoneno", "address"]

for i in l:
    print(i)

name
emailid
phoneno
address

In [53]:
l = ["name" ,"emailid", "phoneno", "address"]

for i in l:
    print(i + " sudh")

name sudh
emailid sudh
phoneno sudh
address sudh

In [54]:
s= "ineuron"
for i in s:
    print(i)

i
n
e
u
r
o
n

In [55]:
l

['name', 'emailid', 'phoneno', 'address']

In [56]:
for i in l:
    print(i)
    
else:
    print("if for loop is not going to complete itself then it will come to else")

name
emailid
phoneno
address
if for loop is not going to complete itself then it will come to else

In [57]:
l

['name', 'emailid', 'phoneno', 'address']

In [58]:
for i in l:
    if i=="name":
        break
    print(i) 
    
else:
    print("check this statement")

In [59]:
for i in l:
    if i=="emailid":
        break
    print(i) 
    
else:
    print("check this statement")

name

In [62]:
s = "sudhanshu"
for i in s:
    if i == "n":
        break
else:
    print("dont execute is unless and untill it is not printing my name")

### While Loop

In [63]:
a = 1
while a< 6:
    print(a)
    a = a+1

1
2
3
4
5

In [65]:
a = 1
while a<5:
        print(a)
        if a == 4:
            break
        a = a+1

1
2
3
4

In [66]:
a = 1
while a<5:
    print(a)
    a = a + 1
    if a==3:
        continue

1
2
3
4

In [67]:
while a < 5:
    pass

In [68]:
for i in l:
    pass

In [69]:
while a > 4:
    break

In [70]:
range(6)

range(0, 6)

In [71]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [72]:
range(0,7)

range(0, 7)

In [73]:
list(range(0,7))

[0, 1, 2, 3, 4, 5, 6]

In [74]:
list(range(4,100))

[4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [75]:
list(range(3,50,2))

[3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [76]:
list(range(3,10,-1))

[]

In [77]:
list(range(10, 6, -1))

[10, 9, 8, 7]

In [78]:
list(range(10, -5, -2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [79]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [80]:
n = 5
for i in range(0, n):
    for j in range(0,i+1):
        print("*",end = " ")
        
    print("\r")

*
* *
* * *
* * * *
* * * * *