In [1]:
s = "sudh"
s

'sudh'

In [2]:
s[0]

's'

In [3]:
s[1]

'u'

In [4]:
s[2]

'd'

In [5]:
s[3]

'h'

In [6]:
s[4]

IndexError: string index out of range

In [7]:
s[-1]

'h'

In [8]:
s[-2]

'd'

In [9]:
s[-3]

'u'

In [10]:
s[-4]

's'

In [11]:
s[-5]

IndexError: string index out of range

In [12]:
s

'sudh'

In [13]:
s[0:2]

'su'

In [14]:
s[0:1]

's'

In [15]:
s[1:3]

'ud'

In [16]:
s[2:4]

'dh'

In [17]:
s[2:]

'dh'

In [18]:
s[-1::-1]

'hdus'

In [19]:
s

'sudh'

In [21]:
s[-1:-3:-1]

'hd'

In [22]:
s[3:1]

''

In [23]:
s[3:1:-1]

'hd'

In [24]:
s[0:3:2]

'sd'

In [25]:
s1 = "Python eng"

In [26]:
s1[0:6]

'Python'

In [28]:
s1[7:]

'eng'

In [29]:
s1[0::2]

'Pto n'

In [30]:
s1[0::3]

'Ph g'

In [32]:
s1[9::-1]

'gne nohtyP'

In [33]:
s1[9::-2]

'genhy'

In [34]:
s1

'Python eng'

In [35]:
s1[-10:-4]

'Python'

In [36]:
s1[7:] + " " + s1[0:6]

'eng Python'

In [37]:
s1[9::-1]

'gne nohtyP'

In [38]:
s1[::-1]

'gne nohtyP'

In [39]:
l = [1,2,3,4,5,"sudh", "euron", "python eng batch 8.45 AM IST"]

In [40]:
l

[1, 2, 3, 4, 5, 'sudh', 'euron', 'python eng batch 8.45 AM IST']

In [41]:
type(l)

list

In [42]:
l[5]

'sudh'

In [43]:
l[-3]

'sudh'

In [44]:
l

[1, 2, 3, 4, 5, 'sudh', 'euron', 'python eng batch 8.45 AM IST']

In [45]:
l[5:7]

['sudh', 'euron']

In [46]:
l[5][2:5]

'dh'

In [47]:
l[-1]

'python eng batch 8.45 AM IST'

In [48]:
l[-1][::-1]

'TSI MA 54.8 hctab gne nohtyp'

In [50]:
l1 = [[4,5,6], "euron", (4+7j), True, [4,5,6,"sudh"]]

In [51]:
l1

[[4, 5, 6], 'euron', (4+7j), True, [4, 5, 6, 'sudh']]

In [52]:
l1[4]

[4, 5, 6, 'sudh']

In [53]:
l1[4][3]

'sudh'

In [54]:
l1[4][3][1:3]

'ud'

In [55]:
l1

[[4, 5, 6], 'euron', (4+7j), True, [4, 5, 6, 'sudh']]

In [56]:
l1[2]

(4+7j)

In [57]:
l1[2].imag

7.0

In [58]:
l1[2].real

4.0

In [59]:
t = (3,4,5,6,67,77,"sudh", "euron")

In [60]:
t

(3, 4, 5, 6, 67, 77, 'sudh', 'euron')

In [61]:
t[-1]

'euron'

In [62]:
t[4:7]

(67, 77, 'sudh')

In [63]:
t = ([4,5,6,7],"sudh", True, 5+8j)

In [64]:
t

([4, 5, 6, 7], 'sudh', True, (5+8j))

In [65]:
l2 =[ (4,5,6,7),"sudh", True, 5+8j]
l2

[(4, 5, 6, 7), 'sudh', True, (5+8j)]

In [66]:
t1 = (4,5,6,7,7)

In [67]:
l3 = [4,5,6,7]

In [68]:
l3

[4, 5, 6, 7]

In [70]:
l3[0]

4

In [71]:
l3[0] = "sudh"
l3

['sudh', 5, 6, 7]

In [72]:
t1

(4, 5, 6, 7, 7)

In [73]:
t[0]

[4, 5, 6, 7]

In [74]:
t[0] = "euron"

TypeError: 'tuple' object does not support item assignment

In [75]:
s = "sudh"

In [76]:
s[0]

's'

In [77]:
s[0] = 'a'

TypeError: 'str' object does not support item assignment

In [78]:
s = {}

In [79]:
type(s)

dict

In [80]:
s1 = {4,5,6,7,8,89,9}
type(s1)

set

In [81]:
s2 = {4,5,56,6,7,45.6,True, "sudh"}

In [82]:
s2

{4, 45.6, 5, 56, 6, 7, True, 'sudh'}

In [88]:
s3 = {4,5,5,5,55,5,5,55,5,5,5}
s3

{4, 5, 55}

In [89]:
s3[0]

TypeError: 'set' object is not subscriptable

In [90]:
l3 = list(s3)
l3

[4, 5, 55]

In [91]:
l4 = [4,5,6,7,7,8,89,99,55,6,6,7,7,8]
l4

[4, 5, 6, 7, 7, 8, 89, 99, 55, 6, 6, 7, 7, 8]

In [92]:
s4 = set(l4)
s4

{4, 5, 6, 7, 8, 55, 89, 99}

In [93]:
list(s4)

[99, 4, 5, 6, 7, 8, 55, 89]

In [94]:
tuple(s4)

(99, 4, 5, 6, 7, 8, 55, 89)

In [95]:
s5 = {"sudh", "Sudh"}
s5

{'Sudh', 'sudh'}

In [96]:
s6 = {45.67, 4,5,6,7,7,7,7,7,7,4,3,2,34,67,"sudh", "euron", True, False}
s6

{2, 3, 34, 4, 45.67, 5, 6, 67, 7, False, True, 'euron', 'sudh'}

In [97]:
d = {"name":"sudh", "age":45, "sal":45.6, "desig":"Data Scientist", "company":"Euron", "is_he_working":True}

In [98]:
d

{'name': 'sudh',
 'age': 45,
 'sal': 45.6,
 'desig': 'Data Scientist',
 'company': 'Euron',
 'is_he_working': True}

In [100]:
d.keys()

dict_keys(['name', 'age', 'sal', 'desig', 'company', 'is_he_working'])

In [101]:
d.values()

dict_values(['sudh', 45, 45.6, 'Data Scientist', 'Euron', True])

In [102]:
d[0]

KeyError: 0

In [103]:
d["name"]

'sudh'

In [104]:
d["age"]

45

In [105]:
d1 = {1:"sudh", 2:45, 3:45.6, 4:"Data Scientist", 5:"Euron", 6:True}

In [106]:
d1[1]

'sudh'

In [108]:
d1[3]

45.6

In [109]:
d1[6]

True

In [110]:
d2 = {0:[3,4,5,6,6],"xyz":(3,4,5,6,7), True:{4,5,6,7,7,5,5,4}, "company name" : "euron",
      "class":["Python hindi and eng", "gen ai hindi and english", "mlops eng"]}

In [112]:
d2

{0: [3, 4, 5, 6, 6],
 'xyz': (3, 4, 5, 6, 7),
 True: {4, 5, 6, 7},
 'company name': 'euron',
 'class': ['Python hindi and eng', 'gen ai hindi and english', 'mlops eng']}

In [113]:
d2["xyz"]

(3, 4, 5, 6, 7)

In [114]:
d2 = {0:[3,4,5,6,6],"xyz":(3,4,5,6,7), True:{4,5,6,7,7,5,5,4}, "company name" : "euron",
      "class":["Python hindi and eng", "gen ai hindi and english", "mlops eng"],"xyz":"sudhanshu"}

In [115]:
d2

{0: [3, 4, 5, 6, 6],
 'xyz': 'sudhanshu',
 True: {4, 5, 6, 7},
 'company name': 'euron',
 'class': ['Python hindi and eng', 'gen ai hindi and english', 'mlops eng']}

In [116]:
d2["xyz"] = "Vivek Kumar Verma"
d2

{0: [3, 4, 5, 6, 6],
 'xyz': 'Vivek Kumar Verma',
 True: {4, 5, 6, 7},
 'company name': 'euron',
 'class': ['Python hindi and eng', 'gen ai hindi and english', 'mlops eng']}

In [117]:
s = "euron"
s

'euron'

In [118]:
s.capitalize()

'Euron'

In [119]:
s.center(50)

'                      euron                       '

In [120]:
s.center(50,"#")

'######################euron#######################'

In [121]:
s.count("e")

1

In [122]:
s.index("r")

2

In [123]:
s = "vivek Kumar Verma"
s

'vivek Kumar Verma'

In [124]:
s.capitalize()

'Vivek kumar verma'

In [125]:
s.title()

'Vivek Kumar Verma'

In [126]:
l = [3,4,5,6,6,"python", "data science"]

In [127]:
l

[3, 4, 5, 6, 6, 'python', 'data science']

In [128]:
l.append([4,5,6])

In [129]:
l

[3, 4, 5, 6, 6, 'python', 'data science', [4, 5, 6]]

In [130]:
l.clear()

In [131]:
l

[]

In [132]:
l = [3, 4, 5, 6, 6, 'python', 'data science', [4, 5, 6], "sudh"]
l

[3, 4, 5, 6, 6, 'python', 'data science', [4, 5, 6], 'sudh']

In [133]:
l1 = l

In [134]:
l

[3, 4, 5, 6, 6, 'python', 'data science', [4, 5, 6], 'sudh']

In [135]:
l1

[3, 4, 5, 6, 6, 'python', 'data science', [4, 5, 6], 'sudh']

In [136]:
l2 = l.copy()

In [137]:
l2

[3, 4, 5, 6, 6, 'python', 'data science', [4, 5, 6], 'sudh']

In [138]:
l2[3]= "xyz"
l2

[3, 4, 5, 'xyz', 6, 'python', 'data science', [4, 5, 6], 'sudh']

In [139]:
l

[3, 4, 5, 6, 6, 'python', 'data science', [4, 5, 6], 'sudh']

In [140]:
l1

[3, 4, 5, 6, 6, 'python', 'data science', [4, 5, 6], 'sudh']

In [142]:
l.count(6)

2

In [143]:
l.extend(7)

TypeError: 'int' object is not iterable

In [144]:
l.append(7)

In [145]:
l

[3, 4, 5, 6, 6, 'python', 'data science', [4, 5, 6], 'sudh', 7]

In [146]:
l.extend("Vivek Kumar Verma")

In [147]:
l

[3,
 4,
 5,
 6,
 6,
 'python',
 'data science',
 [4, 5, 6],
 'sudh',
 7,
 'V',
 'i',
 'v',
 'e',
 'k',
 ' ',
 'K',
 'u',
 'm',
 'a',
 'r',
 ' ',
 'V',
 'e',
 'r',
 'm',
 'a']

In [148]:
l.index(5)

2

In [149]:
l.pop()

'a'

In [150]:
l

[3,
 4,
 5,
 6,
 6,
 'python',
 'data science',
 [4, 5, 6],
 'sudh',
 7,
 'V',
 'i',
 'v',
 'e',
 'k',
 ' ',
 'K',
 'u',
 'm',
 'a',
 'r',
 ' ',
 'V',
 'e',
 'r',
 'm']

In [151]:
l.remove()

TypeError: list.remove() takes exactly one argument (0 given)

In [152]:
l.remove('sudh')

In [153]:
l

[3,
 4,
 5,
 6,
 6,
 'python',
 'data science',
 [4, 5, 6],
 7,
 'V',
 'i',
 'v',
 'e',
 'k',
 ' ',
 'K',
 'u',
 'm',
 'a',
 'r',
 ' ',
 'V',
 'e',
 'r',
 'm']

In [154]:
l.append("sudh")

In [155]:
l

[3,
 4,
 5,
 6,
 6,
 'python',
 'data science',
 [4, 5, 6],
 7,
 'V',
 'i',
 'v',
 'e',
 'k',
 ' ',
 'K',
 'u',
 'm',
 'a',
 'r',
 ' ',
 'V',
 'e',
 'r',
 'm',
 'sudh']

In [157]:
l.insert(1, [3,4,7,8])

In [158]:
l

[3,
 [3, 4, 7, 8],
 4,
 5,
 6,
 6,
 'python',
 'data science',
 [4, 5, 6],
 7,
 'V',
 'i',
 'v',
 'e',
 'k',
 ' ',
 'K',
 'u',
 'm',
 'a',
 'r',
 ' ',
 'V',
 'e',
 'r',
 'm',
 'sudh']

In [159]:
l.reverse()

In [160]:
l

['sudh',
 'm',
 'r',
 'e',
 'V',
 ' ',
 'r',
 'a',
 'm',
 'u',
 'K',
 ' ',
 'k',
 'e',
 'v',
 'i',
 'V',
 7,
 [4, 5, 6],
 'data science',
 'python',
 6,
 6,
 5,
 4,
 [3, 4, 7, 8],
 3]

In [162]:
t = (4,5,6,7,8,9)

In [163]:
t.count(5)

1

In [164]:
t.index(5)

1

In [165]:
s2

{4, 45.6, 5, 56, 6, 7, True, 'sudh'}

In [167]:
s2.add(345)

In [168]:
s2

{345, 4, 45.6, 5, 56, 6, 7, True, 'sudh'}

In [169]:
s2.clear()

In [170]:
s2

set()

In [171]:
d1

{1: 'sudh', 2: 45, 3: 45.6, 4: 'Data Scientist', 5: 'Euron', 6: True}

In [172]:
d

{'name': 'sudh',
 'age': 45,
 'sal': 45.6,
 'desig': 'Data Scientist',
 'company': 'Euron',
 'is_he_working': True}

In [173]:
d.keys()

dict_keys(['name', 'age', 'sal', 'desig', 'company', 'is_he_working'])

In [174]:
d.values()

dict_values(['sudh', 45, 45.6, 'Data Scientist', 'Euron', True])

In [175]:
d.items()

dict_items([('name', 'sudh'), ('age', 45), ('sal', 45.6), ('desig', 'Data Scientist'), ('company', 'Euron'), ('is_he_working', True)])

In [176]:
list(d.items())

[('name', 'sudh'),
 ('age', 45),
 ('sal', 45.6),
 ('desig', 'Data Scientist'),
 ('company', 'Euron'),
 ('is_he_working', True)]

In [178]:
d.pop()

TypeError: pop expected at least 1 argument, got 0

In [179]:
d.pop("name")

'sudh'

In [180]:
d

{'age': 45,
 'sal': 45.6,
 'desig': 'Data Scientist',
 'company': 'Euron',
 'is_he_working': True}

In [182]:
d.popitem()

('is_he_working', True)

In [183]:
d

{'age': 45, 'sal': 45.6, 'desig': 'Data Scientist', 'company': 'Euron'}

In [184]:
d.update({"company":"India"})

In [185]:
d

{'age': 45, 'sal': 45.6, 'desig': 'Data Scientist', 'company': 'India'}