In [1]:
l = [4,2,5,4,7,9,6]

In [2]:
l

[4, 2, 5, 4, 7, 9, 6]

In [4]:
for i in l:
    print(i)

4
2
5
4
7
9
6

In [5]:
l

[4, 2, 5, 4, 7, 9, 6]

In [6]:
for i in l:
    print(i+1)

5
3
6
5
8
10
7

In [7]:
for i in l:
    print(i**2)

16
4
25
16
49
81
36

In [8]:
s = "euron"
print(s)

for i in s:
    print(i)

euron
e
u
r
o
n

In [9]:
t = (7,8,9,5,6,3,2,1,5)
for i in t:
    print(i)

7
8
9
5
6
3
2
1
5

In [10]:
s = {1,4,7,8,9,6,5,3,2,3}
for i in s:
    print(i)

1
2
3
4
5
6
7
8
9

In [11]:
d = {"name":"euron","class":"python","age":25}
for i in d:
    print(i)

name
class
age

In [12]:
for i in d.values():
    print(i)

euron
python
25

In [13]:
for i in d.items():
    print(i)

('name', 'euron')
('class', 'python')
('age', 25)

In [14]:
for i, j in d.items():
    print(i,j)

name euron
class python
age 25

In [15]:
l = ["euron", 4,7,8,9,54.56,True,"sudh", False, 5+7j]

In [16]:
l

['euron', 4, 7, 8, 9, 54.56, True, 'sudh', False, (5+7j)]

In [17]:
for i in l:
    if type(i)==str:
        print(i)

euron
sudh

In [19]:
l1 = []
for i in l:
    if type(i)==str:
        l1.append(i)
print(l1)

['euron', 'sudh']

In [21]:
l_str = []
l_int = []
l_float = []
l_bool = []
for i in l:
    if type(i)==str:
        l_str.append(i)
    elif type(i)==int:
        l_int.append(i)
    elif type(i)==float:
        l_float.append(i)
    elif type(i)==bool:
        l_bool.append(i)
print(l_str)
print(l_int)
print(l_float)
print(l_bool)

['euron', 'sudh']
[4, 7, 8, 9]
[54.56]
[True, False]

In [22]:
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [23]:
range(9)

range(0, 9)

In [24]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

In [26]:
list(range(1,8,2))

[1, 3, 5, 7]

In [27]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
a = 0
b = 1
limit = 10

for i in range(10):
    print(a)
    a,b = b, a+b

0
1
1
2
3
5
8
13
21
34

In [29]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [30]:
i = 0

while i<=10:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10

In [32]:
row = 10
for i in range(1, row+1):
    print(" * "*i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *

In [33]:
row = 10
for i in range(1, row+1, 1):
    print(" * "*i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *  *

In [41]:
row = 5
for i in range(1, row+1):
    print(" "*(row-i) + " * "*i)

     *
    *  *
   *  *  *
  *  *  *  *
 *  *  *  *  *

In [43]:
row = 5
for i in range(1, row+1):
    print(" "*(row-i) + "* "*(2*i -1))

    *
   * * *
  * * * * *
 * * * * * * *
* * * * * * * * *

In [44]:
row = 5
for i in range(1, row+1):
    print(" "*(row-i) + "* "*(2*i -1))

for i in range(row-1, 0,-1):
    print(" "*(row-i) + "* "*(2*i -1))

    *
   * * *
  * * * * *
 * * * * * * *
* * * * * * * * *
 * * * * * * *
  * * * * *
   * * *
    *

In [45]:
row = 5
for i in range(1, row+1):
    print(" "*(row-i) + " * "*i)

for i in range(row-1, 0, -1):
    print(" "*(row-i) + " * "*i)

     *
    *  *
   *  *  *
  *  *  *  *
 *  *  *  *  *
  *  *  *  *
   *  *  *
    *  *
     *